body {
  background-color: #f4f7f6;
  font-family: Arial, sans-serif;
  height: 100vh;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("./assets/agri-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

body::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 0;
  background: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.15));
}

.container {
  position: relative;
  z-index: 1;

  max-width: 600px;
  margin: 80px auto;
  padding: 30px;

  border: 1px solid black;
  border-radius: 20px;
  text-align: center;

  background: linear-gradient(130deg, rgba(255, 255, 255, 0.046) 30.18%, rgba(255, 255, 255, 0.151) 84.34%);
  backdrop-filter: blur(20px);
  box-shadow: 0 2px 10.5px -1px rgba(0, 0, 0, 0.25);
}

.heading {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3.5rem;
  color: black;
  margin: 3rem;
}


.input-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-field {
  width: 100%;
  max-width: 300px;
  align-self: center;
  padding: 10px;
  margin: 10px 20px;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 10px;
  color: black;
  outline: none;

  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.input-field::placeholder {
  color: rgba(0, 0, 0, 0.669);
  font-weight: 500;
}


button {
  max-width: 500px;
  padding: 10px;
  background-color: #fff;
  border: none;
  color: #000;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;

  margin: 20px 0;

  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

button:hover {
  background-color: #a4ffb2;
}

button:focus {
  outline: none;
}

.result {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 20px;
  color: #000;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}